body{
    background-color: aquamarine;
}

#rep,#sort,#order,#btn1,#pageno{
    margin: 3%;
    padding: 10px;
    border-radius: 5px;
}
#btn{
    margin-left: 45%;
    padding: 10px;
    width: 120px;
}
#outputBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    display: flex;
    flex-direction: column;
    flex-basis: 27%;
    margin: 2%;
    border: 1px solid gray;
    padding: 10px;
    justify-content: space-evenly;
}